<!DOCTYPE html>
<html>
  <head>
    <title>Home</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <form id="form" class="" action="/" method="post">
      Informe seu sexo:
      <select name="sexo">
        <option value="masculino" name="masculino">Masculino</option>
        <option value="feminino" name="feminino">Feminino</option>
      </select><br><br>
      Informe sua idade:<input type="number" name="idade" value="idade" min="8" max="100"><br><br>
      Informe sua renda:<input type="number" name="renda" value="" min="800" max="100000"><br><br>
      <input type="checkbox" name="carro">
      <button type="submit" form="form" value="Submit">Enviar post</button>
    </form>
  </body>
</html>
